.signup {
	width: 100%;
	background-color: var(--lightGrey);
	border: 1px solid transparent;
}

.container {
	max-width: 40rem;
	margin: 0 auto;
	border-radius: 2rem;
	/*box-shadow: 0 0 7px var(--mainBlue);*/
	background-color: var(--mainWhite);
	display: flex;
	flex-direction: column;
}

.image {
	width: 100%;
}

.removeFocus:focus {
	outline: none;
	box-shadow: none;
}

ion-icon {
	color: white;
}