.container {
	max-width: 100%;
}
.container h2 {
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
	margin-top: 4rem;
	word-spacing: 0.5rem;
	font-weight: bold;
}
.container h2:after {
	content: " ";
	display: block;
	width: 5rem;
	height: 0.2rem;
	margin: 2rem auto;
	background-color: var(--mainBlue);
}
.container p {
	width: 80%;
	margin: 2rem auto 4rem auto;
	font-size: 1.6rem;
	line-height: 1.8rem;
	word-spacing: 0.4rem;
}
/*.doctors {
	clear: both;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}*/

.doctorPhoto {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: var(--ightGrey);
}
.doctorPhoto img {
	opacity: 0.8;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}
.doctorPhoto img:hover {
	transform: scale(1.03);
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.container h2 {
		font-size: 2rem;
	}
	.container p {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 480px) {
	.container h2 {
		font-size: 1.7rem;
	}
	.container h2:after {
		width: 3rem;
	}
}

@media screen and (max-width: 300px) {
	.container h2 {
		font-size: 1.2rem;
	}
}