.container {
	background-color: #4682B4;
	color: var(--mainWhite);
	max-width: 100%;
	border: 1px solid transparent;
}

.error {
	max-width: 120rem;
	margin: 6rem auto;
	text-align: center;
	padding: 1rem;
}

.title {
	font-size: 16rem;
	text-align: center;
	text-shadow: 5px 10px 7px #000;
}

.subLine {
	font-size: 4rem;
}

.btn {
	padding: 1.5rem;
	display: inline-block;
	color: var(--mainWhite);
	border: 1px solid var(--mainWhite);
	transition: all 0.5s ease-in-out;
	margin-top: 1rem;
}

.btn:hover,
.btn:active {
	background-color: var(--mainWhite);
	color: var(--mainBlack);
}