.container {
	max-width: 100%;
	height: 92.5vh;
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(70,130,180,0.7)), url('../../img/background.jpeg');
	background-attachment: fixed; 
	background-position: top;
	background-size: cover;
	padding: 1rem;
}
.cover { 
	max-width: 120rem;
	margin: 13rem auto;
}

.title {
	font-size: 6rem;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
	color: var(--mainWhite);
	animation: moveInRight 1s ease-out;
}

.subtitle {
	font-size: 2rem;
	letter-spacing: 0.2rem;
	margin-bottom: 4.5rem;
	color: var(--mainWhite);
	animation: moveInLeft 1s ease-out;
	text-transform: uppercase;
}

.btn {
	font-size: 2rem;
	text-decoration: none;
	border-radius: 0.4rem;
	text-transform: uppercase;
	box-shadow: 2px 5px 15px var(--mainBlack);
} 

.btnFull {
	background-color: var(--mainBlue);
	color: var(--mainWhite);
	margin-right: 1.5rem;
}

.btnFull:hover,
.btnFull:active {
	color: var(--mainWhite);
	opacity: 0.9;
}

.btnGhost {
	color: var(--mainWhite);
	border: 1px solid var(--mainBlue);
	transition: background-color 0.4s, color 0.4s;
}

.btnGhost:hover,
.btnGhost:active {
	background-color: var(--mainBlue);
	color: var(--mainWhite);
}


/* ANIMATIONS */

@keyframes moveInRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	80% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes moveInLeft {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	80% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
	.title {
		font-size: 4.5rem;
	}
	.subtitle {
		font-size: 1.7rem;
	}
}
@media screen and (max-width: 480px) {
	.title {
		font-size: 3rem;
	}
	.subtitle {
		font-size: 1.4rem;
	}
	.btn {
		font-size: 1.2rem;
		padding: 1rem;
	}
}

@media screen and (max-width: 340px) {
	.title {
		font-size: 1.5rem;
	}
	.btn {
		font-size: 0.9rem;
		padding: 0.7rem;
	}
	.subtitle {
		font-size: 1rem;
	}
}