.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: rgba(255,255,255, 0.7);
}

.container {
	max-width: 100%; 
	height: 6rem;
	padding: 1rem;
}
 
.cover {
	max-width: 120rem;
	margin: 0 auto;
	height: auto;
}

.logo {
	float: left;
	width: 4rem;
	height: auto;
}

.navList {
	float: right;
	list-style-type: none;
	margin-top: 1rem;
	font-size: 1.2rem;
}

.navLink,
.btn {
	display: inline-block;
	text-transform: uppercase;
}

.navLink a:link,
.navLink a:visited,
.btn:link,
.btn:visited {
	text-decoration: none;
	color: var(--mainBlack);
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
}

.navLink a{
	margin-right: 3rem;
	padding-bottom: 0.7rem;
	font-weight: bold;
}

.navLink a:hover,
.navLink a:active {
	border-bottom: 2px solid var(--mainBlue);
}

.btn{
	margin-right: 2rem;
	border-radius: 0.3rem;
}

.btnGreen:link,
.btnGreen:visited {
	color: var(--mainGreen);
	border: 1px solid var(--mainGreen);
	font-weight: bold;
}

.btnRed:link,
.btnRed:visited {
	color: var(--mainRed);
	border: 1px solid var(--mainRed);
	transition: color 0.2s, background-color 0.2s;
	font-weight: bold;
	margin-right: 0;
}

.btnGreen:active,
.btnGreen:hover {
	color: var(--mainWhite);
	background-color: var(--mainGreen);
	transition: color 0.2s, background-color 0.2s;
}

.btnRed:active,
.btnRed:hover {
	color: var(--mainWhite);
	background-color: var(--mainRed);
}

.toggle {
	margin-right: 1.5rem;
	font-size: 3rem;
	display: none;
}

.toggle:hover {
	cursor: pointer;
}

.block {
	max-width: 100%;
	height: 92vh;
	background-color: var(--darkGrey);
}

.blockList {
	width: 100%;
	display: flex;
	flex-direction: column;
	/*margin: 0 auto;
	text-align: center;*/
	list-style-type: none;
	font-size: 1.5rem;
	/*padding: 1rem;*/
}

.blockLink {
	/*padding: 1.5rem;*/
	max-width: 100%;
	padding: 10px 20px 10px 0;
}

.blockLink:hover,
.blockLink:active {
	background-color: var(--mainBlue);
}

/*.blockLink:after {
	content: " ";
	display: block;
	width: 25rem;
	margin: 1rem auto 0 auto;
	height: 0.1rem;
	background-color: var(--darkGrey);
}*/

.blockLink a:link,
.blockLink a:visited,
.blockBtn:link,
.blockBtn:visited {
	text-decoration: none;
	transition: border-bottom 0.5s;
	color: var(--mainWhite);
	padding: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

.blockLink a:hover,
.blockLink a:active {
	background-color: var(--mainBlue);
	color: var(--mainWhite);
}

@media screen and (max-width: 770px) {
	.cover {
		max-width: 100rem;
	}

	.navList .navLink,
	.btn {
		display: none;
	}
	.toggle {
		display: inline-block;
	}
	.logo {
		margin-top: 1rem;
		width: 3rem;
	}
}
@media screen and (max-width: 480px) {
	.cover {
		max-width: 80rem;
	}
	.logo {
		width: 3rem;
	}
}














/*

*/


