.chart {
	max-width: 100rem;
	margin: 4rem auto;
	padding: 1rem;
}

@media screen and (max-width: 767px) {
	.container h2 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 480px) {
	.container h2 {
		font-size: 1.7rem;
	}
	.container h2:after {
		width: 3rem;
	}
}

@media screen and (max-width: 300px) {
	.container h2 {
		font-size: 1.2rem;
	}
}
