
/* COLORS */

:root {
  --mainBlue: rgb(0,0,139);
  --darkGrey: rgb(36,37,42);
  --lightGrey: rgb(242,241,239);
  --mainRed: rgb(207,0,15);
  --mainGreen: rgb(30,130,76);
  --mainWhite: rgb(255,255,255);
  --mainBlack: rgb(0,0,0);
}

/* UNIVERSAL SELECTORS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  background-color: var(--lightGrey);
  /*background-image: linear-gradient(to bottom, var(--mainWhite), var(--mainBlack));*/
}

/*@media screen and (max-width: 1200px) {
  font-size: 8px;
}*/

@media screen and (max-width: 1023px) {
  font-size: 7px;
}

@media screen and (max-width: 767px) {
  font-size: 6px;
}

@media screen and (max-width: 480px) {
  font-size: 5px;
}