.chart {
	margin: 1rem 0;
}

.result {
	font-size: 3rem;
}

.result span {
	text-shadow: 2px 5px 7px var(--mainBlue);
	font-weight: bold;
}

.link {
	background-color: var(--mainBlue);
	padding: 1rem;
	color: var(--mainWhite);
}

.link:hover,
.link:active {
	color: var(--mainWhite);
	opacity: 0.9;
}